@model PagedList<FileSharingWeb.ViewModels.UploadViewModel>

@{
    ViewData["Title"] = "Search";
    int nextPage = Model.PageIndex + 1;
    int prevPage = Model.PageIndex - 1;

}

<!-- Start Page Title -->
<section class="st-page-header st-gray-bg ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="st-page-header-text">
                    <h1>@lang["search_for"] : @ViewBag.term</h1>
                    <ul class="st-breadcam">
                        <li><a asp-action="Index" asp-controller="Home">@lang["home"]</a></li>
                        <li>@lang["search"]</li>
                    </ul>
                </div>
            </div><!-- .col -->
        </div>
    </div>
</section>
<!-- End Page Title -->


<!-- Start Search Section -->
<div class="st-blog-wrap st-section" id="blog">
    <div class="container">
        <div class="row">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="col-lg-4">
                        <div class="st-blog st-style1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <div class="st-zoom">

                                @if (item.ContentType.Contains("image"))
                                {
                                    <a class="st-blog-thumb st-bg st-zoom-in " data-src="@item.uploadUrl"></a>
                                }
                                else
                                {
                                    <a class="st-blog-thumb st-bg st-zoom-in " data-src="../assets/img/light-img/blog1.png"></a>
                                }

                            </div>
                            <div class="st-blog-info">
                                <div class="st-blog-label"> <a href="#">@item.FileName</a></div>
                                <h2 class="st-blog-title">@lang["download_count"] : @item.DownloadCount</h2>
                                <div class="st-blog-text">
                                     @lang["size"] :
                                    @{
                                        var size = item.Size / 1024; //KB
                                        if (size < 1024) //2048
                                        {
                                            <span>@Math.Floor(size) Kb</span>
                                        }
                                        else
                                        {
                                            <span>@(Math.Floor(size) / 1024) Mb</span>
                                        }
                                    }
                                </div>
                                <div class="st-blog-meta">
                                    <div class="st-blog-meta-left"><span class="st-posted-by">@item.ContentType</span></div>
                                    <div class="st-blog-meta-right"><a asp-action="Download" asp-route-fileName="@item.FileName"
                                    class="st-blog-btn">@lang["download"] <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="st-page-header-text text-center">
                    <h1>No Result Found !</h1>
                    <a asp-action="Index" asp-controller="Home" class="btn-lg btn-info">Back</a>
                </div>
            }



        </div>
        <div class="st-pagination">
            <ul>
                @if (prevPage > 0)
                {
                    <li><a asp-action="Search" asp-route-pageIndex="@prevPage" asp-route-term="@ViewBag.term">@lang["prev"]</a></li>

                }

                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="@(Model.PageIndex == i ? "is-active" : "")"><a asp-action="Search"
                        asp-route-pageIndex="@i" asp-route-term="@ViewBag.term">@i</a></li>
                }
                @if (nextPage <= Model.TotalPages)
                {

                    <li><a asp-action="Search" asp-route-pageIndex="@nextPage" asp-route-term="@ViewBag.term">@lang["next"]</a></li>

                }

            </ul>
        </div>
    </div>
</div>
<!-- End Browse Section -->
