@using FileSharingWeb.ViewModels
@model FileSharingWeb.ViewModels.UserVM

@{
    ViewData["Title"] = lang["profile"];


}

<section class="st-contact-wrap st-gray-bg st-section" id="contact">
    <div class="container">
        <div class="st-section-heading st-style2 text-center">
            <h2>@lang["profile"]</h2>
            <div class="st-seperator">
                <div class="st-seperator-left-bar wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
                <img src="../assets/img/dark-img/seperator-icon.png" alt="demo" class="st-seperator-icon">
                <div class="st-seperator-right-bar wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            </div>
            <p>@lang["profile_desc"]</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (TempData["success_message"] != null)
            {
                <div class="alert alert-success text-center" role="alert">
                    @TempData["success_message"]
                </div>
            }

            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="ModelOnly" class=" text-danger alert alert-danger text-center"></div>

            }
            <div class="col-lg-6">
                <h3>@lang["profile_header"]</h3>
                <form asp-action="Profile" method="post">

                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>



                    <div class="form-group ">
                        <input type="submit" value="@lang["update_btn"]" class="btn btn-primary" />

                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <partial name="_ChangePasswordPartial" model="new ChangePasswordVM()">
            </div>

        </div>
    </div>
</section>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}